# --- Rust / Cargo ---
# Ignorar los archivos compilados de Rust (¡Muy importante!)
/target/
client/src-tauri/target/

# --- Node.js / Frontend (Carpeta client) ---
# Ignorar dependencias de Node
client/node_modules/
client/dist/
client/out/

# Logs de error comunes
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- Entorno / IDEs ---
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?