.path-text {
    font-family: monospace;
    color: #a6e3a1;
}

#status-panel {
    margin-top: 20px;
    padding: 10px;
    background-color: #f38ba8;
    color: #11111b;
    border-radius: 5px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #45475a;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.server-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}